**
!go.mod
!go.sum
!cmd/
!cmd/**/
!cmd/**/*.go
!internal/
!internal/**/
!internal/**/*.go
!internal/adapter/httpapi/swaggerui/*.html
!internal/adapter/httpapi/swaggerui/*.js
!internal/adapter/httpapi/swaggerui/*.css
!internal/adapter/httpapi/swaggerui/*.ico
!internal/adapter/httpapi/swaggerui/*.png
!internal/adapter/httpapi/swaggerui/LICENSE
!internal/adapter/httpapi/swaggerui/*.LICENSE.txt
**/*_test.go
